@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "normalize.css";

html {
  padding: 0;
  background-color: #0c0c0c;
  font-family: "Poppins", sans-serif;
  margin: 0;
  
}
