.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.main img {
  width: 300px;
}

.heroInfo {
  text-align: center;
  color: white;
}

.footer {
  margin-top: auto;
}
