* {
  margin: 0;
  padding: 0;
}
.containerForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
}
.containerTitleForm {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
}
.titleForm {
  color: white;
  font-size: 4.2rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
.containerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inputsForm {
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 15px;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  border-bottom: 1px solid #fff;
  background-color: #0c0c0c;
  gap: 10px;
  letter-spacing: 0.3rem;
}
.textForm {
  margin: 10px;
  padding: 10px;
  width: 280px;
  height: 130px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid #fff;
  background-color: #0c0c0c;
  letter-spacing: 0.3rem;
}
@media (min-width: 1200px){
  .containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .containerTitleForm{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    padding: 50px;
  }
  .containerImagForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  .containerImagForm img{
    width: 100%;
    height: 100%;
    margin-left: -105px;
  }
}

@media (min-width: 781px) and (max-width: 1199px){
  .containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
  }
  .containerImagForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
  }
  .containerImagForm img{
    width: 100%;
    height: 100%;
    margin-left: -105px;
  }
  .titleForm {
    color: white;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 35px;
    padding: 30px;
  }
}
@media (min-width: 281px) and (max-width: 780px){
  .containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    flex-direction: column-reverse;
  }
  .containerImagForm{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerImagForm img{
    width: 0;
    height: 0;
  }
}